.env
.env.example
.gitignore
.prettierignore
*.sh
.github/
www/*.jpg
www/*.png
www/*.txt
www/css/font-awesome.css
www/css/video-js.css
www/fonts
www/js/angular.min.js
www/js/video.js
www/js/*.min.js*
