.list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: fixed;
  padding-top: 4.2rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.list.dragging {
  overflow: hidden;
  overscroll-behavior: none;
}
.list > .pre {
  font-size: 0.75rem;
  white-space: pre-wrap;
  font-family: monospace;
  user-select: text;
  -webkit-user-select: text;
}
.list > .placeholder {
  text-align: center;
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre-wrap;
  color: var(--text-weak-color);
  background-color: var(--bg-main-color);
}
.list > .placeholder > .loading,
.list > .placeholder > .loading:before,
.list > .placeholder > .loading:after {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.5rem;
  background-color: var(--bg-main-color);
  animation: dotFlashing 1200ms infinite linear alternate;
}
.list > .placeholder > .loading {
  animation-delay: 600ms;
  position: relative;
}
.list > .placeholder > .loading:before,
.list > .placeholder > .loading:after {
  content: "";
  position: absolute;
}
.list > .placeholder > .loading:before {
  animation-delay: 300ms;
  right: 1.5rem;
}
.list > .placeholder > .loading:after {
  animation-delay: 900ms;
  left: 1.5rem;
}
@keyframes dotFlashing {
  0%,
  50% {
    background-color: var(--bg-main-color);
  }
  100% {
    background-color: var(--theme-color);
  }
}
.list .item {
  font-size: 0.875rem;
  color: var(--text-main-color);
  margin-left: env(safe-area-inset-left, 0);
  margin-right: env(safe-area-inset-right, 0);
}
.list.thin .item {
  margin-right: 0;
}
.list .item:nth-child(odd) {
  background-color: var(--bg-sub-color);
}
.list .item:nth-child(even) {
  background-color: var(--bg-main-color);
}
.list .item:last-child {
  margin-bottom: env(safe-area-inset-bottom, 0);
}
.list .item > div:first-child {
  padding: 1.15rem 0.2rem 0 0.2rem;
  line-height: 1rem;
  overflow-wrap: break-word;
  word-break: break-word;
}
.list .item.watched {
  color: var(--text-disabled-color);
}
.list .item.highlight {
  text-shadow: 0 0 0.3rem var(--text-high-color);
  color: var(--text-high-color);
}
.list .item .details {
  font-size: 0.75rem;
  line-height: 0.75rem;
  height: 0.75rem;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
}
.list .item .details .left {
  color: var(--text-weak-color);
}
.list .item .details .right {
  color: var(--text-main-color);
}
