<!DOCTYPE html>
<html lang="en">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
  />
  <meta name="webpush-public-key" content="WEBPUSH_PUBLIC_KEY" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>カリ(仮)</title>
  <link rel="manifest" href="/manifest.json" />
  <meta name="theme-color" content="#ffffff" />
  <link rel="icon" type="image/png" href="/favicon.png" />
  <link rel="icon" type="image/png" sizes="192x192" href="/favicon192.png" />
  <link href="/css/video-js.css" rel="stylesheet" />
  <link href="/css/font-awesome.css" rel="stylesheet" />
  <link href="/css/reset.css" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet" />
  <video
    id="player"
    class="video-js vjs-default-skin vjs-big-play-centered"
    autoplay
    crossorigin="anonymous"
  ></video>
  <div id="osd"></div>
  <div id="info"></div>
  <div id="list">
    <div class="search">
      <i class="fa fa-search"></i>
      <input
        id="search"
        type="search"
        placeholder="Search"
        autocomplete="off"
      />
    </div>
  </div>
  <div id="menu"><i class="fa fa-bars"></i></div>
  <div id="infoBtn"><i class="fa fa-info-circle"></i></div>
  <div id="blind"></div>
  <div id="messagebox">
    <div class="title">操作說明</div>
    <div class="float">
      <table>
        <tr>
          <td>
            <span class="keyboardBtn"><i class="fa fa-arrow-left"></i></span
            ><span class="keyboardBtn"><i class="fa fa-arrow-right"></i></span>
          </td>
          <td>前進/快退5秒</td>
        </tr>
        <tr>
          <td>
            <span class="keyboardBtn">Ctrl</span> +
            <span class="keyboardBtn"><i class="fa fa-arrow-left"></i></span>
            <span class="keyboardBtn"><i class="fa fa-arrow-right"></i></span>
          </td>
          <td>前進/快退30秒</td>
        </tr>
        <tr>
          <td>
            <span class="keyboardBtn"><i class="fa fa-arrow-up"></i></span>
            <span class="keyboardBtn"><i class="fa fa-arrow-down"></i></span>
          </td>
          <td>調整音量</td>
        </tr>
        <tr>
          <td><span class="keyboardBtn">Space</span></td>
          <td>暫停 / 播放</td>
        </tr>
        <tr>
          <td><span class="keyboardBtn">PageUp</span></td>
          <td>播放上一個檔案</td>
        </tr>
        <tr>
          <td><span class="keyboardBtn">PageDown</span></td>
          <td>播放下一個檔案</td>
        </tr>
        <tr>
          <td><span class="keyboardBtn">Enter</span></td>
          <td>切換全螢幕</td>
        </tr>
        <tr>
          <td><span class="keyboardBtn">F11</span></td>
          <td>切換全螢幕</td>
        </tr>
        <tr>
          <td><span class="keyboardBtn">B</span></td>
          <td>開啟/關閉填補黑邊效果</td>
        </tr>
        <tr>
          <td><span class="keyboardBtn">C</span></td>
          <td>截圖</td>
        </tr>
        <tr>
          <td><span class="keyboardBtn">M</span></td>
          <td>靜音</td>
        </tr>
        <tr>
          <td><span class="keyboardBtn">`</span></td>
          <td>顯示 / 隱藏 播放器界面</td>
        </tr>
      </table>
    </div>
    <div class="float">
      <table>
        <tr>
          <td>滑鼠移到左上方顯示Menu</td>
        </tr>
        <tr>
          <td>滑鼠中間鍵：切換全螢幕</td>
        </tr>
        <tr>
          <td>滑鼠連按：暫停 / 播放</td>
        </tr>
        <tr>
          <td>滑鼠滾輪：調整音量</td>
        </tr>
      </table>
    </div>
  </div>
  <script src="/js/video.js"></script>
  <script src="/js/tablesort.js"></script>
  <script src="/js/info.js"></script>
  <script src="/js/index.js"></script>
</html>
