<!DOCTYPE html>
<html lang="en">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"
  />
  <meta name="webpush-public-key" content="WEBPUSH_PUBLIC_KEY" />
  <meta name="donate-url" content="DONATE_URL" />
  <meta name="telegram-url" content="TELEGRAM_JOIN_URL" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="theme-color" content="#efe0ff" />
  <title>カリ(仮)</title>
  <link rel="manifest" href="/manifest.json" />
  <link rel="icon" type="image/png" href="/favicon.png" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="stylesheet" href="/css/mobile.min.css" />

  <div id="root"></div>
  <script src="/js/mobile.es2016.js" async defer></script>
</html>
