:root {
  --theme-color: rgba(200, 170, 220, 1);
  --text-main-color: rgba(127, 68, 167, 1);
  --text-weak-color: rgba(208, 200, 213, 1);
  --glass-bg-color: rgba(200, 170, 220, 0.2);
  --bg-main-color: rgba(253, 251, 254, 1);
  --bg-sub-color: rgba(250, 248, 252, 1);
  scrollbar-color: var(--theme-color) transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-color: rgba(200, 170, 220, 1);
    --text-main-color: rgba(200, 170, 220, 1);
    --text-weak-color: rgba(110, 79, 130, 1);
    --glass-bg-color: rgba(200, 170, 220, 0.2);
    --bg-main-color: rgba(17, 9, 22, 1);
    --bg-sub-color: rgba(28, 15, 36, 1);
    scrollbar-color: var(--theme-color) transparent;
  }
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0.2rem;
}
::-webkit-scrollbar-thumb {
  background: var(--theme-color);
}
::placeholder {
  color: var(--text-main-color);
}
html {
  -webkit-text-size-adjust: 100%;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, Meiryo, sans-serif, Arial;
  background: var(--bg-main-color);
}
a {
  text-decoration: none;
  color: var(--text-main-color);
}
.overlay {
  visibility: visible;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  background-color: var(--glass-bg-color);
  transition: opacity 300ms cubic-bezier(0.22, 0.61, 0.36, 1);
  z-index: 1;
  pointer-events: auto;
}
.overlay.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.menu {
  position: fixed;
  width: 14rem;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  background-color: var(--bg-main-color);
  box-shadow: 0 0 0.2rem 0.2rem var(--glass-bg-color);
  transition: left 300ms cubic-bezier(0.22, 0.61, 0.36, 1);
  z-index: 2;
  color: var(--text-main-color);
}
.menu.hidden {
  left: -14rem;
  box-shadow: none;
}
.menu .logo {
  background-image: url(/favicon.png);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 10rem;
}
.menu .item {
  padding: 0.5rem 0;
  margin: 0 0.5rem;
  line-height: 2rem;
  font-size: 0.875rem;
  border-bottom: 1px dashed var(--theme-color);
}
.menu .item:last-child {
  border-bottom: none;
}
.menu .item.hidden {
  display: none;
}
.menu .defaultPlayer {
  display: flex;
  flex-direction: column;
}
.menu .defaultPlayer select {
  flex-grow: 1;
  border: none;
  outline: 0;
  font-family: inherit;
  color: inherit;
  background-color: inherit;
  height: inherit;
  font-size: inherit;
  margin-left: 1rem;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: fixed;
  padding-top: 4rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
}
.list > .error {
  text-align: center;
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list .item {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  color: var(--text-main-color);
}
.list .item:nth-child(odd) {
  background-color: var(--bg-sub-color);
}
.list .item:nth-child(even) {
  background-color: var(--bg-main-color);
}
.list .item > div:first-child {
  padding: 1.15rem 0.2rem 0 0.2rem;
  line-height: 1rem;
  word-break: break-all;
}
.list .item.watched {
  color: var(--text-weak-color);
}
.list .item .details {
  font-size: 0.75rem;
  line-height: 0.75rem;
  height: 0.75rem;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
}
.list .item .details .left {
  color: var(--text-weak-color);
  visibility: hidden;
}
.list .item .details .right {
  color: var(--text-main-color);
}
.icon {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.icon img {
  width: 3rem;
  height: 3rem;
  border: 3px double var(--theme-color);
  box-sizing: border-box;
  border-radius: 6px;
}
.bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: var(--bg-main-color);
  box-shadow: 0 0 0.2rem 0.2rem var(--bg-main-color);
  margin-right: 0.2rem;
}
.bar input {
  padding: 0;
  margin: 0.5rem 0.5rem 0.5rem 0;
  -webkit-appearance: none;
  outline: 0;
  border: none;
  background: transparent;
  border-radius: 0;
  border-bottom: 1px dashed var(--theme-color);
  font-size: 1rem;
  height: 3rem;
  flex-grow: 1;
  color: var(--text-main-color);
}
.progress {
  position: fixed;
  top: 0;
  width: 100%;
  height: 2px;
  background-color: var(--bg-sub-color);
  visibility: visible;
}
.progress.hidden {
  visibility: hidden;
}
.progress > div {
  position: absolute;
  background-color: var(--theme-color);
  height: 2px;
}
.progress > div:first-child {
  animation: increase 2s infinite;
}
.progress > div:last-child {
  animation: decrease 2s 0.5s infinite;
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .bar,
  .menu {
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);
    background-color: var(--glass-bg-color);
    box-shadow: 0 0 0.2rem 0.2rem var(--glass-bg-color);
  }
  .bar {
    border-bottom: 1px solid var(--bg-sub-color);
  }
  .menu {
    border-right: 1px solid var(--bg-sub-color);
  }
  .overlay {
    background-color: transparent;
  }
}
@keyframes increase {
  from {
    left: -5%;
    width: 5%;
  }
  to {
    left: 130%;
    width: 100%;
  }
}
@keyframes decrease {
  from {
    left: -80%;
    width: 80%;
  }
  to {
    left: 110%;
    width: 10%;
  }
}
